<% questions.forEach(function(question){ %>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"><%=question.questionNumber%>. <%- question.text %> </h3>
      <% question.topics.forEach(function(topic){ %>
        <span class="label label-success"><%= topic %> </span>
      <%});%>
      Difficulty: <span class="badge"><%= question.difficulty %></span>
    </div>
    <% if(question.image) {%>
      <img class="question-image" src=<%=question.image%> />
    <%}%>

    <div class="row">
      <% for(key in question.choices){ %>
        <% if (question.choices.hasOwnProperty(key)) {%>
          <% var choice = question.choices[key]%>
          <div class="col-xs-6 col-md-15 choice">
          <div class="thumbnail">
          <% if(choice.image) {%>
            <img src=<%=choice.image%> />
          <%}%>
            <div class="caption">
              <h5>
              <% if(choice.text) {%>
                <%- choice.text%>
              <%}%>
              </h5>
            </div>
          </div>
          </div>
        <%}%>
      <% }; %>
    </div>



<!--
//vertical choices
    // <ul class="list-group">
    //   <% for(key in question.choices){ %>
    //     <% if (question.choices.hasOwnProperty(key)) {%>
    //       <% var choice = question.choices[key]%>
    //       <li class="list-group-item">
    //         <p class="choice-text"><%- choice.text%></p>
    //         <% if(choice.image) {%>
    //           <img src=<%=choice.image%> />
    //         <%}%>
    //       </li>
    //     <%}%>
    //   <% }; %>
    // </ul>
    -->
  </div>
<% }); %>
